body {
	background-color: rgb(250,250,230);
	align-content: center;
	color: #201f3a;
	font-family: "Merriweather", Georgia;
	margin: 20px;
}

#main {
	margin: 0 auto;
	max-width: 400px;
}

h1 {
	font-family: "Oswald";
	font-size: 320%;
}

a {
	color: #ff7473;
}

circle {
	fill: rgba(50,30,0,0.4);
}

.labelline line {
	stroke: rgba(50,30,0,0.4);
	stroke-width: 2px;
}