body {
	background-color: #e5e5e3;
	align-content: center;
	color: #201f3a;
	font-family: "Merriweather", Georgia;
	margin: 20px;
}

#main {
	margin: 0 auto;
	max-width: 400px;
}

h1 {
	font-family: "Oswald";
	font-size: 320%;
}

a {
	color: #ff7473;
}

circle {
	opacity: 30%;
	fill: #201f3a;
}